<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToyoChallenge</title>

    <!-- Reference static CSS files using Flask's url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename="src/output.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/home.css') }}">
    <script src="{{ url_for('static', filename='src/filter.js') }}"></script>
</head>
<body>
    



<nav class="bg-white dark:bg-gray-900 sticky w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    

        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TOYOTA</span>
    </a>
    <div class="bg-blue md:order-2">
        
        <button class="bg-blue-700 text-white rounded-md p-2 hover:bg-blue-900"type="button">Looking...</button>
        
         
             
      
    </div>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <input type="text" id="search" onkeyup="search()" placeholder="Search for a car" class="p-2 border border-gray-300 dark:bg-gray-300 dark:placeholder-gray-500 rounded-lg">
                  
      
    </div>
    
   
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="/home" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
          md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 
          dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
        </li>
        <li>
            <a href="/index" class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent 
            md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Index</a>
          </li>
        <li>
            <a href="/search" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
          md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 
          dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Search</a>
        </li>
      </ul>
    </div>
    
  </nav>
  
  <dialog id="popup" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold hidden" id="compName"></h3>
            <p class="py-4 hidden" id="compDesc"></p>
            <hr class="rounded hidden" id="divider">
            <h3 class="text-lg font-bold" id = "carName"></h3>
            <p class="py-4" id="carDesc"></p>
                <div class="modal-action">
                    <form method="dialog">
                        <button class="btn" id="compareButton" onclick="setTimeout(() => {setComp();}, 250)">Compare</button>
                    </form>
                </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button onclick="setTimeout(() => {showComp();}, 250)">CLOSE</button>
        </form>
    </dialog>
    
  <div class="cars">
    <table id="carTable">
        <tr onclick="modalSet('info1')">
            <td>
                <ul id="info1" style="visibility: hidden; max-height: 0;">
                    <li class="title">All Toyota Cars, List of New Toyota Vehicles & Models [2022] | 1000islandstoyota
                        Images may be subject to copyright. Learn More</li>
                    <li>Base MSRP: 100</li>
                    <li>Estimated MPG: 20/24</li>
                    <li>Description: Blah blah blah</li>
                </ul>
            </td>
            <td>
                <img src="https://d3ogcz7gf2u1oh.cloudfront.net/dealers/1000islands/assets/2019camry.png">
            </td>
        </tr>
        <tr onclick="modalSet('info2')">
            <td>
                <ul id="info2" style="visibility: hidden; max-height: 0;">
                    <li class="title">Which Toyota Models Are Sports Cars?
                        Images may be subject to copyright. Learn More</li>
                    <li>Base MSRP: 100</li>
                    <li>Estimated MPG: 20/24</li>
                    <li>Description: Blah blah blah</li>
                </ul>
            </td>
            <td>
                <img src="https://www.newboldtoyota.com/blogs/5464/wp-content/uploads/2024/04/gr-supra.png">
            </td>
        </tr>
        <tr onclick="modalSet('info3')">
            <td>
                <ul id="info3" style="visibility: hidden; max-height: 0;">
                    <li class="title">Corolla</li>
                    <li>Base MSRP: 100</li>
                    <li>Estimated MPG: 20/24</li>
                    <li>Description: Blah blah blah</li>
                </ul>
            </td>
            <td>
                <img src="https://bucket.dealervenom.com/copeland-toyota/C430752_8X8_Front.webp?auto=compress%2Cformat&ixlib=php-3.3.1">
            </td>
        </tr>
        <tr onclick="modalSet('info4')">
            <td>
                <ul id="info4" style="visibility: hidden; max-height: 0;">
                    <li class="title">Car 4</li>
                    <li>Base MSRP: 100</li>
                    <li>Estimated MPG: 20/24</li>
                    <li>Description: Blah blah blah</li>
                </ul>
            </td>
            <td>
                <img src="https://content-images.carmax.com/qeontfmijmzv/3F8AC3277FE7D129EEE0BB6EAA88453C7D2B3246/29155d6946fe7008f00efc7d6eb86b61/toyota-fj-cruiser-177634.png">
            </td>
        </tr>
    </div>

    <div class="fixed bottom-0">
        <footer class="bg-white dark:bg-gray-900 fixed bottom-0 border-gray-200 dark:border-gray-600" id="compare">Select a car to compare...</footer>
    </div>
    

</body>
</html>